.walletDetailContainer {
  padding: 1rem;
}

.ratePlanContainer {
  border: 1px solid #80ed99;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px -2px rgb(161, 165, 161);
}

.monthTitle,
.rateTitle {
  font-weight: 600;
}
